*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 border-color: black;
 border-radius: 25px;
 border: 50px;
 background-image: url(a-beautiful-milkyway-on-a-night-sky-with-stars-and-nice-background-2G6DN5E.jpg);
}
.to-do{
    color: blue;
    text-align: center;
    margin-top: 20px;
}
#input1{
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin: 0px;
    background-color: rgb(235, 226, 226);
    color: black;
    width: 250px;
    margin-left: 10px;
    margin-top: 20px;
}
.todoDiv{
    display: flex;
    justify-content: left;
    gap: 5px;
    width: 350px;
    padding: 10px;
    margin-left: 10px;
    
    background-color: antiquewhite;
}
.input2{
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin: 0px;
    align-items: center;
    color: white;
    background-color: blue;
    margin-top: 20px;
}
.check{
    width: 50px;
    color:beige;
    background-color: green;
    border: none;

}
.trash{
    width:50px;
    color: red;
    background-color: red;
    border: none;
}
.checked {
  text-decoration: line-through;
}

.input-field{
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
    border-radius: 10px;
    border-color: blue;
    border: 100px;

}
.text{
    text-align: center;
    margin-top: 10px;
}
@media screen and (min-width: 1024px) {
    .input-field{
        justify-content: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        text-align: center;
        width: 700px;
        margin-left: 300px;
    }

    #input1{
        width: 400px;
        
    }
    .input2{
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    body {
        justify-content: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        text-align: center;
        
    
    }
    .todoDiv{
        display: flex;
        justify-content: left;
        gap: 5px;
        width: 650px;
        padding: 10px;
        margin-left: 50px;
        
        background-color: antiquewhite;
    }

}

:active.input2{
    background-color: aliceblue;
}